    //VARIABLES
    $colorFondo:#cee1bb;
    $colorCaja:#f1ffcc;
    $color:#b8e25d;
    $padding: 3% 0% 3% 0%;
    $padding2: 3% 6% 3% 6%;
    /********************************************* BODY ****************************************************/
    
    //NAV
    .nav-item {
        font-size: 120%;
    }
    
    //BODY
    body {
        background-color: $colorFondo;
    }
    
    * {
        padding: 0%;
        margin: 0%;
    }
    
    .imagenPortada {
        height: 90%;
        width: 100%;
    }
    
    nav {
        background-color: $colorCaja;
    }
    
    h2 {
        font-size: 380%;
        color: white;
        text-align: center;
        font-family: cursive;
        margin: $padding;
    }
    
    h1,
    h3 {
        font-size: 380%;
        color: white;
        text-align: center;
        font-family: cursive;
        margin: $padding;
    }
    
    .nosotros {
        padding: $padding2;
    }
    /********************************************* MAIN ****************************************************/
    
    .nosotros {
        background-color: $colorCaja;
        text-align: center;
    }
    
    .produc {
        padding: $padding2;
    }
    
    .card {
        margin: 1%;
    }
    
    .redes {
        background-color: $colorCaja;
        text-align: center;
        padding: $padding2;
    }
    
    .icono {
        margin: 4%;
    }
    
    .piePagina {
        background-color: $colorFondo;
        text-align: center;
        padding-top: 1%;
        .navFooter {
            padding-bottom: 2%;
            background-color: $colorFondo;
        }
    }